*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer{
    height: 10vh;
    background-color: blue;
}

main{
    height: 80vh;
    border: 1px solid black;
    background-color: blueviolet;
}

#container{
    width: 60%;
    height: calc(100% - 100px);
    margin: 50px auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 10%;
    height: 10%;
    border: 1px solid black;
}

.span{
    display: block;
    padding: 10px;
    color: white;
}

.blue{
    background-color: blue;
}